### Helm Chart ###
*Chart.lock
*.tgz
*values.local.yaml
/*.txt
/helm-packages/*
/helm-template-*.yaml
helm-charts-templated.yaml
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/ketos-co-helm-charts.iml
**/*/values-credentials.yaml
