{{- range $shootCluster := .Values.shootClusters}}
  {{- if $shootCluster}}
---
apiVersion: gardener.orchestrate.cloud.sap/v1alpha1
kind: AdminKubeconfigRequest
metadata:
  name: {{ required "A valid value is required! (.Values.shootClusters[].name)" $shootCluster.name | lower | quote }}
spec:
  forProvider:
    validFor: 2h0s
    renewAfter: 1h45m0s
    shootRef:
      name: {{ required "A valid value is required! (.Values.shootClusters[].name)" $shootCluster.name | quote}}
      namespace: {{ required "A valid value is required! (.Values.shootClusters[].projectNamespace)" $shootCluster.projectNamespace | quote}}
  providerConfigRef:
    name: {{ required "A valid value is required! (.Values.shootClusters[].gardenerOrchestrateCloudProviderConfigRefName)" $shootCluster.gardenerOrchestrateCloudProviderConfigRefName | quote}}
  writeConnectionSecretToRef:
    name: gardener-shoot-kubeconfig-{{required "A valid value is required! (.Values.shootClusters[].name)" $shootCluster.name}}
    namespace: default
  {{- end }}
{{- end }}
