---
########################################################################################################################
# -- cloudFoundryEnvironments contains configuration of [kind: CloudFoundryEnvironment](https://doc.crds.dev/github.com/SAP/crossplane-provider-btp/environment.btp.sap.crossplane.io/CloudFoundryEnvironment/v1alpha1@v1.1.2).
# @default -- object
cloudFoundryEnvironments:
  # -- btpSapCrossplaneProviderConfigRefName defines crossplane provider configuration reference name (identifier) of a ...!
  - btpSapCrossplaneProviderConfigRefName: ""
    name: ""
    forProvider:
      initialOrgManagers:      
      - ""
      landscape: ""
    cloudManagementRef:
      name: "dev-eu01"
    subaccountRef:
      name: "dev-eu01"
    # -- *optional* - When a Crossplane Provider creates a managed resource it may generate resource-specific details, like usernames, passwords or connection details like an IP address.
    #   Crossplane stores these details in a Kubernetes Secret object specified by the `writeConnectionSecretToRef` values. Learn more about Crossplane concept [Managed Resources Fields](https://docs.crossplane.io/latest/concepts/managed-resources/#writeconnectionsecrettoref)!
    writeConnectionSecretToRef: []
########################################################################################################################
# -- kymaEnvironments contains configuration of [kind: KymaEnvironment](https://doc.crds.dev/github.com/SAP/crossplane-provider-btp/environment.btp.sap.crossplane.io/KymaEnvironment/v1alpha1@v1.1.2).
kymaEnvironments:
  - btpSapCrossplaneProviderConfigRefName: ""
    name: ""
    forProvider:
      parameters:
      administrators:
        - "...@sap.com"
      autoScalerMax: 3
      autoScalerMin: 3
      machineType: "m5.xlarge"
      oidc:
        clientID: "<your client id>"        #i.e. applicatonId    
        groupsClaim: "groups"               #i.e. name of group   
        issuerURL: "https://<IAS host>.accounts400.ondemand.com"  
        signingAlgs:
          - "RS256"
        usernameClaim: "email"
        usernamePrefix: "-"
      region: "eu-west-2"
    planName: "aws"
    cloudManagementRef:
      name: "dev-eu01"
    subaccountRef:
      name: "dev-eu01"
    # -- *optional* - When a Crossplane Provider creates a managed resource it may generate resource-specific details, like usernames, passwords or connection details like an IP address.
    #   Crossplane stores these details in a Kubernetes Secret object specified by the `writeConnectionSecretToRef` values. Learn more about Crossplane concept [Managed Resources Fields](https://docs.crossplane.io/latest/concepts/managed-resources/#writeconnectionsecrettoref)!
    writeConnectionSecretToRef:
      name: "demo-kyma-kubeconfig-local"
      namespace: "default"
########################################################################################################################
# -- kymaEnvironmentBindings contains configuration of [kind: KymaEnvironmentBinding](https://doc.crds.dev/github.com/SAP/crossplane-provider-btp/environment.btp.sap.crossplane.io/KymaEnvironmentBinding/v1alpha1@v1.1.2).
kymaEnvironmentBindings:
  - btpSapCrossplaneProviderConfigRefName: ""
    name: ""
    kymaEnvironmentRef:
      name: "my-kyma-instance"
    forProvider:
      rotationInterval: "6h"
      ttl: "8h"
    cloudManagementRef:
      name: "dev-eu01"
    # -- *optional* - When a Crossplane Provider creates a managed resource it may generate resource-specific details, like usernames, passwords or connection details like an IP address.
    #   Crossplane stores these details in a Kubernetes Secret object specified by the `writeConnectionSecretToRef` values. Learn more about Crossplane concept [Managed Resources Fields](https://docs.crossplane.io/latest/concepts/managed-resources/#writeconnectionsecrettoref)!
    writeConnectionSecretToRef:
      name: "demo-kyma-binding-local"
      namespace: "default"
########################################################################################################################
# -- kymaModules contains configuration of kind: KymaModule.
kymaModules:
  - moduleName: "test-module"
    kymaEnvironmentBinding:  ""
    releaseChannel: "regular"