{{- range $item := .Values.pushSecrets}}
  {{- if and ($item) (ne $item.name "")}}
---
apiVersion: external-secrets.io/v1
kind: PushSecret
metadata:
  name: {{required "A valid value is required! (.Values.pushSecrets[].name)" $item.name | lower | quote}}
  namespace: {{ $item.namespace | default $.Values.defaults.namespace | lower | quote }}
  labels:
    openmcp.cloud/blueprint-building-block: "{{ $.Chart.Name }}"
    openmcp.cloud/blueprint-building-block-version: "{{ $.Chart.Version }}"
spec: 
  {{- required "A valid value is required! (.Values.pushSecrets[].spec)" $item.spec | toYaml | nindent 2 }}
  {{- end }}
{{- end }}