name: PR Status Checks Forks

on:
  pull_request_target: 
    branches:
      - main
  
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:  
  pr-status-check:    
    if: ${{ github.event.pull_request.head.repo.full_name != 'openmcp-project/blueprint-building-blocks' }}
    uses: "openmcp-project/blueprint-building-blocks/.github/workflows/git-pr-status-checks.yml@main"
    secrets: inherit